/* Homepage Component styling */

.homepage-background {
  background-image: url("img/dolphins.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.homepage-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
   
.homepage-buttons {
  margin: 10px;
}

.primary-button {
  background-color: #2ba6cb;
}

/* login modal */
.login-modal {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Signup modal */
.modal-dialog {
  max-width: 500px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.four0three img{
  width: 100%;
}

.unauth-message {
  padding: 80px 0 0 0;
  text-align: center;
}