/* Homepage Component styling */

.homepage-background {
  background-image: url("img/dolphins.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.homepage-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
   
.homepage-buttons {
  margin: 10px;
}

.primary-button {
  background-color: #2ba6cb;
  margin: 10px;
}

/* login modal */
.login-modal {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Signup modal */
.modal-dialog {
  max-width: 500px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* auth styling*/
.four0three img{
  width: 100%;
}

.unauth-message {
  padding: 80px 0 0 0;
  text-align: center;
}

/* Instructor Landing Styling*/
.instructor-landing-hero {
  background-image: url("img/dolphins4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.student-landing-hero {
  background-image: url("img/dolphins10.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.ins-student-roster-hero {
  background-image: url("img/dolphins6.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ins-courses-hero {
  background-image: url("img/dolphins8.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ins-lessons-hero {
  background-image: url("img/dolphins9.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.stu-lessons-hero {
  background-image: url("img/dolphins9.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.instructor-landing-content .student-landing-content {
  padding-top: 75px;
}

.student-courses-hero {
  background-image: url("img/dolphins11.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.course-card .card {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  width: 100px;
  margin-right: 20px; 
}

.card-image {
  background-image: url("img/dolphins6.jpg");
  height: 175px;
  background-size: cover;
}

/*Video player CSS */
.player-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 5%; 
  height: 60vh;
  
}
 
.react-player {
  position: relative;
  top: 0;
  left: 0;
  height: 120%;
  width: 60%;
}

.video {
  display: flex;
  flex-direction: row;
  height: 200px;
}